@media print {
  .site-menu,
  .site-footer,
  .site-toc {
    display: none;
  }

  .site-header,
  .site-header aside {
    display: block;
  }

  main {
    // Fix for https://bugzilla.mozilla.org/show_bug.cgi?id=939897
    display: block !important;
  }
}