@import "css/variables/colors";
@import "css/variables/defaults";
@import "css/variables/fonts";

@import "css/themes/auto";
@import "css/variables/highlight";

@import "css/main/normalize";
@import "css/main/icon";

@import "css/main/utils";
@import "css/main/print";
@import "css/main/markdown";

@import "css/layouts";
@import "css/search";
@import "css/shortcodes";

// Custom defined styles
@import "css/custom";