@import "css/defaults";
@import "css/variables";
@import "css/themes/auto";

@import "css/normalize";
@import "css/utils";
@import "css/fonts";
@import "css/print";

@import "css/layouts";
@import "css/search";

@import "css/markdown";
@import "css/shortcodes";
@import "css/codeblock";

// Custom defined styles
@import "css/custom";