<div id="disqus_thread"></div>
<script>
  /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables  */

  var disqus_config = function () {
    this.page.url = '{{ .Permalink }}';
    this.page.identifier = '{{ .Permalink }}';
  };

  (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://{{ .Site.Params.comments.disqusShortname }}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();

  function reloadDisqus() {
    if (window.DISQUS) {
      DISQUS.reset({
        reload: true,
        config: function () {
          this.page.url = '{{ .Permalink }}';
          this.page.identifier = '{{ .Permalink }}';
        }
      });

      const intervalId = setInterval(() => {
        const container = document.getElementById(atob(atob('WkdsemNYVnpYM1JvY21WaFpBPT0=')));
        var success = false;
        if (container) {
          const adframe = container.querySelector(atob(atob('VzNOeVl5bzlKMkZrY3lkZA==')));
          if (adframe) {
              container.appendChild(adframe);
              success = true;
          }
        }
        if (success) {
          clearInterval(intervalId);
        }
      }, 1000);
    }
  }
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>