{{- /* --- Parameters --- */ -}}
{{- $delimiter := .Get "delimiter" | default "," -}}
{{- $alignCenter := .Get "align-center" | default "" -}}
{{- $class := .Get "class" -}}
{{- $fileName := .Get "file-name" | default "" -}}
{{- $enableDownload := .Get "enable-download" | default "true" -}}
{{- $numHeaders := .Get "headers" | default "1" | int -}}
{{- /* --- CSV to Rows --- */ -}}
{{- $csv := trim .Inner " \n\r\t" -}}
{{- $lines := split $csv "\n" -}}
{{- $allLines := slice -}}
{{- range $lines -}}
  {{- if . -}}
    {{- $allLines = $allLines | append . -}}
  {{- end -}}
{{- end -}}
{{- $headerLines := first $numHeaders $allLines -}}
{{- $dataRows := after $numHeaders $allLines -}}
{{- /* --- Align Center --- */ -}}
{{- $centerColumns := slice -}}
{{- if $alignCenter -}}
  {{- $centerList := split $alignCenter "," -}}
  {{- range $centerList -}}
    {{- $centerColumns = $centerColumns | append (trim . " ") -}}
  {{- end -}}
{{- end -}}
{{- /* --- Render --- */ -}}
<div class="sc-data-table {{ with $class }}{{ . }}{{ end }}">
  <table class="data-table" data-filename="{{ $fileName }}" data-headers="{{ $numHeaders }}">
  {{- if and $fileName (eq $enableDownload "true") -}}
  <caption class="data-table-caption">
    <button class="data-download-button" 
            data-filename="{{ $fileName }}"
            data-delimiter="{{ $delimiter }}"
            onclick="downloadCSV(this)">
      <i class="icon-download"></i> {{ $fileName }}
    </button>
  </caption>
  {{- end -}}
  <thead>
    {{- range $headerLines -}}
      {{- $headerCols := split . $delimiter -}}
      <tr>
        {{- range $index, $col := $headerCols -}}
          {{- $colNum := add $index 1 | string -}}
          {{- $isCenter := in $centerColumns $colNum -}}
          <th title="{{ $col }}" {{ if $isCenter }}style="text-align: center;"{{ end }}>{{ $col | markdownify }}</th>
        {{- end -}}
      </tr>
    {{- end -}}
  </thead>
  <tbody>
    {{- range $dataRows -}}
      {{- $rowCells := split . $delimiter -}}
      <tr>
        {{- range $index, $cell := $rowCells -}}
          {{- $colNum := add $index 1 | string -}}
          {{- $isCenter := in $centerColumns $colNum -}}
          <td title="{{ $cell }}" {{ if $isCenter }}style="text-align: center;"{{ end }}>{{ $cell | markdownify }}</td>
        {{- end -}}
      </tr>
    {{- end -}}
  </tbody>
</table>
</div>