{{- /* --- Parameters: Image --- */ -}}
{{- $src := partial "links/portable-image" (dict "Page" .Page "Destination" (.Get "src")) -}}
{{- $alt := .Get "alt" -}}
{{- $caption := .Get "caption" -}}
{{- $class := .Get "class" -}}
{{- $title := .Get "title" -}}
{{- $loading := .Get "loading" -}}
{{- $align := .Get "align" -}}
{{- /* --- Parameters: Anchor --- */ -}}
{{- $href := .Get "href" -}}
{{- $target := .Get "target" | default "_blank" -}}
{{- /* --- Parameters: Size --- */ -}}
{{- $size := slice -}}
{{- with .Get "width" -}}{{- $size = $size | append (print "width: " .) -}}{{- end -}}
{{- with .Get "min-width" -}}{{- $size = $size | append (print "min-width: " .) -}}{{- end -}}
{{- with .Get "max-width" -}}{{- $size = $size | append (print "max-width: " .) -}}{{- end -}}
{{- with .Get "height" -}}{{- $size = $size | append (print "height: " .) -}}{{- end -}}
{{- with .Get "min-height" -}}{{- $size = $size | append (print "min-height: " .) -}}{{- end -}}
{{- with .Get "max-height" -}}{{- $size = $size | append (print "max-height: " .) -}}{{- end -}}
{{- /* --- Id: global ordinal counter for images --- */ -}}
{{- $imgOrdinal := .Page.Scratch.Get "sc-image-ordinal" -}}
{{- if not $imgOrdinal -}}
  {{- $imgOrdinal = 0 -}}
{{- end -}}
{{- $imgOrdinal = add $imgOrdinal 1 -}}
{{- .Page.Scratch.Set "sc-image-ordinal" $imgOrdinal -}}
{{- /* --- Render --- */ -}}
<label class="sc-image" for="sc-image-toggle-{{ $imgOrdinal }}" {{- with $align }}style="text-align: {{ . }};"{{ end -}}>
  {{- with $caption -}}<figure>{{- end -}}
  {{- if $href -}}
  <a href="{{ $href }}" target="{{ $target }}">
  {{- else -}}
  <input class="hidden toggle" type="checkbox" id="sc-image-toggle-{{ $imgOrdinal }}" />
  {{- end -}}
  <img src="{{ $src }}"
    {{- with $alt }}alt="{{ . }}"{{ end -}}
    {{- with $class }}class="{{ . }}"{{ end -}}
    id="sc-image-{{ $imgOrdinal }}"
    {{- with $title }}title="{{ . }}"{{ end -}}
    loading="{{ $loading | default `lazy` }}"
    decoding="async"
    {{- with $size }}style="{{ delimit . `; ` }}"{{ end -}}>
  {{- with $href -}}</a>{{- end }}
  {{- with $caption -}}<figcaption>{{ . }}</figcaption></figure>
  {{- end -}}
</label>