{{ define "content" }}
<article class="content-wrap markdown">
  {{ $pages := partialCached "pages/posts" . "posts" }}

  <div class="list-header">
    <h1>
      <a href="{{ .Site.BaseURL }}" class="site-title">{{ .Site.Title }}</a>
    </h1>
    {{- $count := printf `<em class="list-count">%d</em>` (len $pages) -}}
    <p>{{ printf (i18n "List Label" | default "%s posts") $count | safeHTML }}</p>
  </div>

  {{ $paginate := .Paginate $pages 10 }}

  <div class="post-list">
    {{ range $paginate.Pages }}
      {{ partial "post-item.html" . }}
    {{ end }}
  </div>

  {{ partial "pagination.html" $paginate }}
</article>
{{ end }}