@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jrhayr');
  src:  url('fonts/icomoon.eot?jrhayr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jrhayr') format('truetype'),
    url('fonts/icomoon.woff?jrhayr') format('woff'),
    url('fonts/icomoon.svg?jrhayr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  display: inline-block;
  width: 1.25em;
  height: 1em;
  text-align: center;
  vertical-align: -0.125em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xmark:before {
  content: "\e907";
}
.icon-clock:before {
  content: "\e902";
}
.icon-github:before {
  content: "\e906";
}
.icon-moon:before {
  content: "\e919";
}
.icon-file-copy:before {
  content: "\e908";
}
.icon-exclamation-triangle:before {
  content: "\e91b";
}
.icon-magic:before {
  content: "\e905";
}
.icon-globe:before {
  content: "\e91a";
}
.icon-check:before {
  content: "\e913";
}
.icon-list:before {
  content: "\e900";
}
.icon-folder-open:before {
  content: "\e909";
}
.icon-file:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e90a";
}
.icon-chevron-down:before {
  content: "\e90b";
}
.icon-chevron-right:before {
  content: "\e90c";
}
.icon-chevron-left:before {
  content: "\e903";
}
.icon-chevron-up:before {
  content: "\e904";
}
.icon-backward:before {
  content: "\e90e";
}
.icon-file-text:before {
  content: "\e90d";
}
.icon-folder:before {
  content: "\e910";
}
.icon-search:before {
  content: "\e918";
}
.icon-forward:before {
  content: "\e90f";
}
.icon-plus:before {
  content: "\e911";
}
.icon-bars:before {
  content: "\e912";
}
.icon-tag:before {
  content: "\e914";
}
.icon-tags:before {
  content: "\e915";
}
.icon-download:before {
  content: "\e916";
}
.icon-caret-up:before {
  content: "\e917";
}